################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/lib/**/*.dll
*.nupkg
/nuget.exe
